header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 50%;
}
.centered {
    display: flex;
    justify-content: center;  /* Horizontally centers the image */
    align-items: center;      /* Vertically centers the image */
    height: 100vh;            /* Takes up the full height of the viewport */
}
body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  background color: #000000;
  color: #ffffff;
  line-height: 1.5;
  padding: 4em 1em;
}