header img {
  display: inline-block;
  height: 120px;
  vertical-align: top;
  width: 120px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  width: 50%;
}
.centered {
    display: flex;
    justify-content: center;  /* Horizontally centers the image */
    align-items: center;      /* Vertically centers the image */
    height: 100vh;            /* Takes up the full height of the viewport */
}
#navbar {
  background-color: #333; /* Black background color */
  position: fixed; /* Make it stick/fixed */
  top: -50px; /* Hide the navbar 50 px outside of the top view */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
.topnav {
  background-color: #f0eded;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}
html, body {
  margin: 0 auto;
  max-width: 50em;
  font-family: "Helvetica", "Arial", sans-serif;
  background-color: #000000 !important;
  color: #ffffff !important;
  line-height: 1.5;
  padding: 4em 1em;
}